@import "./variables.scss";

* {
  box-sizing: border-box;
}

ul {
  padding-left: 0em;
  li {
    list-style-type: none;
  }
}

.main {
  display: flex;
  width: 100%;
  flex-flow: column;
  background-color: $background-white;
}

.container {
  flex: 1;
  padding: 1.5rem 1rem;

  .title-section {
    font-family: "AbrilLatface";
    font-size: 2.5rem;
    color: $main;
    text-align: center;
  }
}

.container__presentation {
  background-color: $background-light;

  .content {
    display: flex;
    flex-direction: row;
    .left {
      width: 40%;
      padding: 0 5em;
      h1 {
        font-family: "AbrilLatface";
        font-size: 3rem;
        color: $main;
      }
      p {
        font-family: "Lato";
        color: $main-neutral;
      }

      nav {
        display: flex;
        justify-content: space-between;

        a {
          font-family: "Lato";
          font-size: 1.25rem;
          font-weight: bolder;
          color: $accent-dark;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .right {
      width: 300px;
      height: 650px;
      position: absolute;
      top: 0;
      right: 1em;

      img {
        width: 100%;
        height: 310px;
        object-fit: cover;
      }
    }
  }
}

.container__projects {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-areas: "Area-1 Area-3 Area-3 Area-4" "Area-2 Area-3 Area-3 Area-5";

  .top-right-item {
    grid-area: Area-1;
    background-color: $background-light;
    height: 200px;
  }

  .bottom-right-item {
    grid-area: Area-2;
    background-color: $background-light;
  }

  .center-item {
    grid-area: Area-3;
    background-color: $background-light;
  }
  .top-left-item {
    grid-area: Area-4;
    background-color: $background-light;
  }

  .bottom-left-item {
    grid-area: Area-5;
    background-color: $background-light;
  }
}

.container__experiences {
  margin-bottom: 7em;
  .content {
    display: flex;
    flex-direction: row;
    aside {
      font-family: "Lato";
      padding: 1em;
      min-width: 300px;
      h1 {
        font-family: "AbrilLatFace";
        color: $accent-dark;
        font-size: 2em;
        margin: 0;
        padding: 0;
      }
      li {
        margin-bottom: 3rem;
        h2 {
          font-family: "Lato";
          color: $main;
          margin-bottom: 0;
          padding-bottom: 0.25em;
        }
        p {
          margin-top: 0;
          padding-top: 0;
        }
      }
    }
    article {
      padding-left: 3em;
      max-width: 70%;
      section {
        margin-bottom: 3em;
        width: 70%;
        min-width: 320px;
        h1 {
          font-family: "AbrilLatFace";
          color: $main;
          font-size: 1.5rem;
          padding: 0;
          margin: 0;
        }
        h2 {
          font-size: 1rem;
          font-weight: 400;
          padding: 0;
          margin: 0;
        }
        p {
          font-weight: 300;
        }
      }
    }
  }

  .contact-invite {
    font-family: "Lato";
    font-size: 2.5rem;
    color: $accent-dark;
    text-align: center;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  .send-email {
    border-radius: $radius;
    width: 230px;
    height: 54px;
    font-family: "Lato";
    font-size: 1rem;
    background-color: $accent-dark;
    color: $white;
    border: none;
  }
}

.container__footer {
  background-color: $main-dark;
  color: $background-white;
  .footer {
    a {
      font-family: "Lato";
      font-weight: 800;
      color: $white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      font-family: "Lato";
      font-weight: 800;
    }

    li {
      margin-top: 1.25rem;
      font-family: "Lato";
      font-weight: 800;
    }

    picture {
      display: flex;
      justify-content: flex-end;
      img {
        margin-top: 1.5rem;
        width: 30%;
      }
    }

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .footer__title {
      font-family: "AbrilLatface";
      font-size: 2rem;
    }
  }
}
